@model WebCreateQR.Models.Event

@{
    ViewBag.Title = "ep";
}

<h2>ep</h2>
<div class="form-horizontal">
    <div class="col-md-4">
        <div class="btn btn-primary">
            <input type="file" id="chooseImg" />
        </div>
    </div>
    <hr />

    <div id="showImg" class="thumnail" style="display:none">
        <img class="img-responsive" id="chosenImg" />
        <div class="caption">
            <a href="#" onclick="Clear()"><i class="glyphicon glyphicon-trash"></i></a>
            <span id="desc"></span>
        </div>
        <a href="#" class="btn btn-default" onclick="UploadImg()">Upload</a>
    </div>

    <div class="col-md-2 thumnail" id="uploadedImg"></div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>